
      
      <div class="jumbotron jumbotron-carousel">
          <div class="container text-center">
              <h1>Bienvenidos</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <br>

              
   				 <%= link_to "Activa tu cuenta", activar_path,:class=>"btn btn-success" ,:style=>"letter-spacing:1px"%> <br>

              <span>o <%= link_to "inicia sesión", sesion_path,:class=>"text-default" ,:style=>"border-bottom:dotted 1px #8eaece"%> <br>



          </div>
          <br><br>
      </div>
    