
<% provide(:title, 'Activar') %>
      <div class="jumbotron jumbotron-carousel">
          <div class="container text-center">
             <div class="row">
                 <div class="col-md-offset-4 col-md-4">
                    <h3>Activa tu cuenta</h3> 


    <%= form_tag :method=>'get 'do  %>

      <%= submit_tag "activar", class: "form-control btn btn-success" %>

    <% end %>


                 </div>
             </div>
          </div>
          <br><br>
      </div>


      